<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <aop:aspectj-autoproxy proxy-target-class="true" />

    <!-- 使用 annotation 自动注册 bean,并保证 @Required, @Autowired 的属性被注入 -->
    <context:component-scan base-package="com.github.dactiv.universe.map" />

    <bean id="mapValidationBeanFactory" class="com.github.dactiv.universe.entity.validation.spring.MapValidationBeanFactory">
        <property name="mapperLocations" value="classpath*:user-map-validate.xml" />
    </bean>

    <bean id="mapValidAdvisor" class="com.github.dactiv.universe.entity.validation.spring.aop.MapValidationSourceAdvisor">
        <property name="entityValidation" ref="mapValidationBeanFactory" />
    </bean>

</beans>